<html>
    <head>
        <style>
            body{
                background-color: #05ACE1;
            }
        </style>
    </head>
    <body>
        <h1>About Page</h1>
        <h2><%= city %></h2>
        <h3><%= name %></h3>
        <h3><%= age %></h3>

        <h2><%= demo.y %></h2>

        <h1><%= color[2] %></h1>
    </body>
</html>